.DS_Store
DerivedData
Lilu.kext
xcuserdata
xcshareddata
project.xcworkspace
*.zlib
AppleALC/kern_resources.cpp
build
.svace-dir
cov-int
._*
AppleALC.xcodeproj/._project.xcworkspace
Resources/ALC256/._layout13.xml
Resources/ALC256/._Platforms13.xml
