<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleGetInfoString</key>
	<string>Copyright © 2017 vit9696. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>as.vit9696.PinConfigs</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>PinConfigs</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>HDA Hardware Config Resource</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleHDAHardwareConfigDriver</string>
			<key>HDAConfigDefault</key>
			<array>
				<dict>
					<key>AFGLowPowerState</key>
					<data>AwAAAA==</data>
					<key>Codec</key>
					<string>Derius - Realtek ALC256 (3246) for Asus Series</string>
					<key>CodecID</key>
					<integer>283902550</integer>
					<key>ConfigData</key>
					<data>
					AUccEAFHHQEBRx4XAUcfkAFHDAICFxwgAhcd
					EAIXHiECFx8EASccMAEnHQEBJx6gAScfkA8H
					HPAPBx0QDwceqw8HHwQ=
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>13</integer>
					<key>WakeConfigData</key>
					<data>AUcMAg==</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>AwAAAA==</data>
					<key>Codec</key>
					<string>Insanelydeepak - Realtek ALC256 (3246) for Dell Series with subwoofer</string>
					<key>CodecID</key>
					<integer>283902550</integer>
					<key>ConfigData</key>
					<data>
					ASccEAEnHQABJx6gAScfkAFHHCABRx0AAUce
					FwFHH5ABRwwCAZccMAGXHRABlx6LAZcfAgG3
					HEABtx0AAbceFwG3H5ABtwwCAhccUAIXHRAC
					Fx4rAhcfAgE3HPABNx0AATceAAE3H0ABhxzw
					AYcdAAGHHgABhx9AAacc8AGnHQABpx4AAacf
					QAHXHPAB1x0AAdceAAHXH0AB5xzwAecdAAHn
					HgAB5x9A
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>14</integer>
					<key>WakeConfigData</key>
					<data>AUcMAgG3DAICFwfAAhcIgwGXByQBpwcg</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>AwAAAA==</data>
					<key>Codec</key>
					<string>VicQ - Realtek ALC256 (3246) for Dell 7000 Series with 2.1Ch</string>
					<key>CodecID</key>
					<integer>283902550</integer>
					<key>ConfigData</key>
					<data>
					ASccYAEnHAEBJxymAScckAE3HPABNx0AATce
					AAE3H0ABRxxAAUcdAQFHHhABRx+QAUcMAgGH
					HPABhx0AAYceAAGHH0ABlxwgAZcdEAGXHosB
					lx8BAacccAGnHQABpx6hAacfAQG3HEEBtx0B
					AbceEAG3H5ABtwwCAdcc8AHXHQAB1x4AAdcf
					QAHnHPAB5x0AAeceAAHnH0ACFxxQAhcdEAIX
					HisCFx8BAhcMAg==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>16</integer>
					<key>WakeConfigData</key>
					<data>AUcMAgG3DAI=</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>AwAAAA==</data>
					<key>CodecID</key>
					<integer>283902550</integer>
					<key>Comment</key>
					<string>vusun123 - ALC256 for Asus X555UJ</string>
					<key>ConfigData</key>
					<data>
					AUccUAFHHQABRx4XAUcfkAFHDAIBpxwwAacd
					AAGnHqABpx+QAhccIAIXHRACFx4hAhcfAA==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>28</integer>
					<key>WakeConfigData</key>
					<data>AUcMAg==</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>AwAAAA==</data>
					<key>Codec</key>
					<string>DalianSky - Realtek ALC256 (3246) for Dell 7000 Series</string>
					<key>CodecID</key>
					<integer>283902550</integer>
					<key>ConfigData</key>
					<data>
					ASccMAEnHQEBJx6mAScfkAE3HPABNx0AATce
					AAE3H0ABRxwQAUcdAQFHHhcBRx+QAUcMAgGH
					HPABhx0AAYceAAGHH0ABlxxAAZcdEAGXHoEB
					lx8CAacc8AGnHQABpx4AAacfQAG3HPABtx0A
					AbceAAG3H0AB1xzwAdcdAAHXHgAB1x9AAecc
					8AHnHQAB5x4AAecfQAIXHCACFx0QAhceIQIX
					HwICFwwC
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>56</integer>
					<key>WakeConfigData</key>
					<data>AUcMAg==</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>AwAAAA==</data>
					<key>Codec</key>
					<string>Kk Realtek ALC256 (3246) for magicbook</string>
					<key>CodecID</key>
					<integer>283902550</integer>
					<key>ConfigData</key>
					<data>
					AScccAEnHQEBJx6mAScfkAE3HPABNx0AATce
					AAE3H0ABRxzwAUcdAAFHHgABRx9AAYcc8AGH
					HQABhx4AAYcfQAGXHDABlx0QAZceiwGXHwIB
					pxzwAacdAAGnHgABpx9AAbccQAG3HQEBtx4Q
					AbcfkAG3DAIB1xzwAdcdAAHXHgAB1x9AAecc
					8AHnHQAB5x4AAecfQAIXHFACFx0QAhceKwIX
					HwICFwwC
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>57</integer>
					<key>WakeConfigData</key>
					<data>AbcMAgIXDAI=</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>AwAAAA==</data>
					<key>Codec</key>
					<string>lgs3137 - Realtek ALC256 for ASUS Y5000U X507UBR</string>
					<key>CodecID</key>
					<integer>283902550</integer>
					<key>ConfigData</key>
					<data>
					AScc8AEnHQABJx4AAScfQAE3HPABNx0AATce
					AAE3H0ABRxwgAUcdAQFHHhcBRx+QAUcMAgGH
					HPABhx0AAYceAAGHH0ABlxwwAZcdEAGXHosB
					lx8CAacc8AGnHQABpx4AAacfQAG3HDABtx0A
					AbceoAG3H5ABtwwCAdcc8AHXHQAB1x4AAdcf
					QAHnHPAB5x0AAeceAAHnH0ACFxxQAhcdEAIX
					HisCFx8CAhcMAgGXByQBtwckAhcIgw==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>66</integer>
					<key>WakeConfigData</key>
					<data>AUcMAgIXDAIBlwckAbcHJAIXCIM=</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
				<dict>
					<key>AFGLowPowerState</key>
					<data>AwAAAA==</data>
					<key>Codec</key>
					<string>DalianSky - Realtek ALC256 (3246) for MateBook X Pro 2019</string>
					<key>CodecID</key>
					<integer>283902550</integer>
					<key>ConfigData</key>
					<data>
					ASccMAEnHQEBJx6mAScfkAE3HPABNx0AATce
					AAE3H0ABRxwRAUcdAQFHHhcBRx+QAUcMAgGH
					HPABhx0AAYceAAGHH0ABlxxAAZcdEAGXHoEB
					lx8EAacc8AGnHQABpx4AAacfQAG3HBABtx0B
					AbceFwG3H5ABtwwCAdcc8AHXHQAB1x4AAdcf
					QAHnHPAB5x0AAeceAAHnH0ACFxwgAhcdEAIX
					HiECFx8EAhcMAg==
					</data>
					<key>FuncGroup</key>
					<integer>1</integer>
					<key>LayoutID</key>
					<integer>97</integer>
					<key>WakeConfigData</key>
					<data>AbcMAg==</data>
					<key>WakeVerbReinit</key>
					<true/>
				</dict>
			</array>
			<key>IOClass</key>
			<string>AppleHDAHardwareConfigDriver</string>
			<key>IOMatchCategory</key>
			<string>AppleHDAHardwareConfigDriver</string>
			<key>IOProviderClass</key>
			<string>AppleHDAHardwareConfigDriverLoader</string>
		</dict>
	</dict>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.libkern</key>
		<string>11.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
